<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
<form  action="registration" method="post"> 
{% csrf_token %}

<h1>Registration</h1>

<input type="text" name="username" placeholder="Enter the username"> <br>

<input type="text" name="firstname" placeholder="Enter the firstname"><br>

<input type="text" name="lastname" placeholder="Enter the lastname"> <br>

<input type="email" name="email" placeholder="Enter the email"><br>

<input type="password" name="password" placeholder="Enter the password"> <br>

<input type="password" name="cpassword" placeholder="re-enter the password"><br>
<input type="submit">
</form>

  






</form>
</body>
</html>